[submodule "u-boot"]
	path = deploy/u-boot
	url = git://git.denx.de/u-boot.git
[submodule "externals/compiler-rt"]
	path = externals/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
[submodule "externals/rust"]
	path = externals/rust
	url = https://github.com/rust-lang/rust.git
